<div class="cr__taskView">
    <div class="cr__taskView__content"> 
        <div class="cr__taskView__content__sidebar has-background-white">
            <h1 class="title has-text-primary">Lists</h1>
            <ul class="list__menu">
                <li class="list__menu__item active">
                    <a href="">List #1</a>
                </li>
                <li  class="list__menu__item">
                    <a href="">List #2</a>
                </li>
            </ul>
            <button class="btn__add__list button">+ New List</button>
        </div>
        <div class="cr__taskView__content__lists">
            <h1 class="title has-text-primary">Tasks</h1>
            <ul class="tasks">
                <li class="tasks__item">
                    <input type="text" value="Tyhjm" readonly/>
                </li>
                <li class="tasks__item">
                    <input type="text" value="Tyhjm" readonly/>
                </li>   <li class="tasks__item">
                    <input type="text" value="Tyhjm" readonly class="done"/>
                </li>   <li class="tasks__item">
                    <input type="text" value="Tyhjm" readonly/>
                </li>
            </ul>
        </div>
    </div>
</div>